apiVersion: 1

datasources:
  - name: CloudWatch
    type: cloudwatch
    uid: cloudwatch
    access: proxy
    isDefault: true
    jsonData:
      authType: default  # Uses IAM Task Role
      defaultRegion: us-east-1
    editable: false
